APP_HOST="0.0.0.0"
APP_PORT="8001"
DEBUG_MODE=true
LOG_LEVEL="debug"
SUPABASE_URL="https://kknldrukyftpgywslxaz.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrbmxkcnVreWZ0cGd5d3NseGF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0NDExOTQsImV4cCI6MjA3OTAxNzE5NH0.xpSXl9vuxk0p79E2BQAdkucFRcCHBK0BKTEkVY6V2Ls"