APP_HOST="0.0.0.0"
APP_PORT="8001"
DEBUG_MODE=true
LOG_LEVEL="debug"
SUPABASE_URL="https://kknldrukyftpgywslxaz.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrbmxkcnVreWZ0cGd5d3NseGF6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0NDExOTQsImV4cCI6MjA3OTAxNzE5NH0.xpSXl9vuxk0p79E2BQAdkucFRcCHBK0BKTEkVY6V2Ls"
AUTH0_DOMAIN=dev-gwrv6v7kzyrs5szg.us.auth0.com
AUTH0_CLIENT_ID=2eiDbB7TNJ1lMG0Vi7fCHvGsIN8LVrFz
AUTH0_CLIENT_SECRET=2FJQ4E7stxhDQl00Tm79odfXiXwQutlG0WwsE1HL1n6aeNUqvbdwSIoekTWIjqK_
AUTH0_CONNECTION=Chronos
OPENSEARCH_URL=https://localhost:9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD="StrongPassword123!"
OPENSEARCH_VERIFY_SSL=false